{# AppBundle/Evaluacion/asignacionIndicador.html.twig #}

{% extends 'AppBundle::layout.html.twig' %}

{% block titulo %}{{ titulo }}{% endblock %} 

{% block centro %}{{ centro }}{% endblock %}

{% block usuario %}{{ usuario }}<a href="#">{{ enlaceUsuario }}</a>{% endblock %}

{% block menu %}
    {% include 'AppBundle::menu.html.twig' %}
{% endblock %}

{% block cuerpo %}
{# Cabecera con los datos #}
<table class="table table-bordered">
    <thead>
        <tr>
            <th><h2>Evaluación</th>
            <th><h2>Nivel</th>
            <th><h2>Materia</th>
        </tr>
        <tr>
            <td><h3>{{ datos.Evaluacion.descripcion }}</td>
            <td><h3>{{ datos.Nivel.descripcion }}</td>
            <td><h3>{{ datos.Materia[1] }}</td>
        </tr>
    </thead>
</table>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <td><h3>Unidad Didáctica</td>
            <td><h3>Acción</td>
        </tr>
    </thead>
    <tbody>
        
        {% for unidad in unidades %}
            <tr>
                <td id="{{ unidad.id }}" class="dblclick">{{ unidad.descripcion }}</td>
                {# TODO falta por poner que la siguiente pregunta se haga por id en lugar de por descripción #}
                {% if unidad[0].evaluacion != datos.Evaluacion.id %}
                    {% if unidad.evaluacion is not empty %}
                        {% set clases = { 'boton': "btn btn-warning", 'icono': "icon-ok icon-white"} %}
                    {% else %}
                        {% set clases = { 'boton': "btn btn-primary", 'icono': "icon-ok icon-white"} %}
                    {% endif %}
                {% else %}
                    {% set clases = { 'boton': "btn btn-danger", 'icono': "icon-remove icon-white"} %}
                {% endif %}
                <td><button class="{{ clases['boton'] }}" href="#" 
                        onclick="asignaUnidad(this, {{ unidad.id }}, 
                                            {{ datos.Evaluacion.id }})">
                    <i class="{{ clases['icono'] }}"></i></button></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div id="prueba"> </div>
<script type="text/javascript">
/* Permite que se asignen/des-asignen unidades a una evaluacion */
function asignaUnidad(boton, unidad, eval) {
    var claseAsigna = "btn btn-primary";
    var claseBorra = "btn btn-danger";
    var claseOk = "icon-ok icon-white";
    var claseX = "icon-remove icon-white";
    $('#loading').show();$("body").css("cursor", "progress");
    if (boton.className == claseBorra) {
        //Desasigna la unidad de la evaluacion
        evaluacion = null;
        //Cambia el estilo para que ahora se pueda volver a asingar si se quiere
        boton.className = claseAsigna;
        boton.childNodes[1].className = claseOk;
    } else {
        //Asigna la unidad a la evaluacion
        evaluacion = eval
        //Cambia el estilo para que ahora se pueda desasignar si se quiere
        boton.className = claseBorra;
        boton.childNodes[1].className = claseX;
    }
    /*$('#prueba').html(id);*/
    $.ajax({url: "{{ path('ajax_unidad') }}", 
        type: 'POST', 
        data: {unidad: unidad, evaluacion: evaluacion}, 
        /*success: function (data, estado) {
                        $('#resultado').html("-- Operación Ok --");
                    },*/
        error: function(peticion, textStatus, errorThrown) { $('#resultado').html("*Operación Error" + textStatus + errorThrown); } /*,
        beforeSend: function() { $('#loading').show(); }*/
        
    }).always(function() { $('#loading').hide();$("body").css("cursor", "auto"); });
};

/* La función que se encarga de permitir la edición en línea */
window.onload = function() {        
  $(".dblclick").editable("{{ path("ajax_editarUnidad") }}", { 
      indicator : "<img src='{{ asset('bundles/app/img/loading.gif') }}'>",
      method    : "POST",
      tooltip   : "doble-click para editar...",
      submitdata: function(value) { return { "anterior": value }; },
      event     : "dblclick",
      style  : "inherit"
  });
};
</script>
{% endblock %}
