{# AppBundle/Competencia/asignacionIndicador.html.twig #}

{% extends 'AppBundle::layout.html.twig' %}

{% block titulo %}{{ titulo }}{% endblock %} 

{% block centro %}{{ centro }}{% endblock %}

{% block usuario %}{{ usuario }}<a href="#">{{ enlaceUsuario }}</a>{% endblock %}

{% block menu %}
    {% include 'AppBundle::menu.html.twig' %}
{% endblock %}

{% block cuerpo %}
{# Cabecera con los datos #}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Competencia</th>
            <th>Nivel</th>
            <th>Materia</th>
        </tr>
        <tr>
            <td>{{ datos.Competencia.descripcion }}</td>
            <td>{{ datos.Nivel.descripcion }}</td>
            <td>{{ datos.Materia[1] }}</td>
        </tr>
    </thead>
    <tbody>
        {% for 
    </tbody>
</table>

<div id="prueba"> </div>
<script type="text/javascript">
function rellenaMateria(id) {
    $('#prueba').html(id);
    $.ajax({url: "{{ path('ajax_nivel') }}", type: 'POST', dataType: 'json', data: {id: id},
        success: function (data, estado) { 
                        var items = new Array();
                        //$('#form_Materia').empty();
                        items.push('<option value="">Selecciona Materia</option>');
                        if (data.length > 0) {
                            $.each(data,function(i,materia) {
                                items.push('<option value="' + materia.id + '">' + materia.descripcion + "</option>");
                            });
                        }
                        $('#form_Materia').html(items.join(''));
                        $('#prueba').html(estado + items.join('')); 

                    },
        error: function(peticion, textStatus, errorThrown) { $('#prueba').html(testStatus + errorThrown); }
    });
};
</script>
{% endblock %}
