{# AppBundle/Competencia/asignacionIndicador.html.twig #}

{% extends 'AppBundle::layout.html.twig' %}

{% block titulo %}{{ titulo }}{% endblock %} 

{% block centro %}{{ centro }}{% endblock %}

{% block usuario %}{{ usuario }}<a href="#">{{ enlaceUsuario }}</a>{% endblock %}

{% block menu %}
    {% include 'AppBundle::menu.html.twig' %}
{% endblock %}

{% block cuerpo %}
{# Cabecera con los datos #}
<table class="table table-bordered">
    <thead>
        <tr>
            <th><h2>Competencia</th>
            <th><h2>Nivel</th>
            <th><h2>Materia</th>
        </tr>
        <tr>
            <td><h3>{{ datos.Competencia.descripcion }}</td>
            <td><h3>{{ datos.Nivel.descripcion }}</td>
            <td><h3>{{ datos.Materia[1] }}</td>
        </tr>
    </thead>
</table>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th colspan="3" text-align="center"><h2>Indicadores</h2></th>
        </tr>
        <tr>
            <td><h3>Unidad Didáctica</td>
            <td><h3>Indicador</td>
            <td><h3>Acción</td>
        </tr>
    </thead>
    <tbody>
        {% for indicador in indicadores %}
            <tr>
                <td>{{ indicador.unidad }}</td>
                {% if indicador[0].minimo %}
                    <td><h4>{{ indicador[0].descripcion }}</h4></td>
                {% else %}
                    <td>{{ indicador[0].descripcion }}</td>
                {% endif %}
                {% if indicador[0].competencia == datos.Competencia.descripcion %}
                    <td><button class="btn btn-primary" href="#" 
                                onclick="asignaIndicador(0, {{ indicador[0].id }}, 
                                                    {{ datos.Competencia.id }}">
                        <i class="icon-ok icon-white"></i></buttonn></td>
                {% else %}
                    <td><button class="btn btn-danger" href="#" 
                                onclick="asignaIndicador(1, {{ indicador[0].id }}, 
                                                    {{ datos.Competencia.id }}">
                         <i class="icon-remove icon-white"></i></buttonn></td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>

<div id="prueba"> </div>
<script type="text/javascript">
function rellenaMateria(id) {
    $('#prueba').html(id);
    $.ajax({url: "{{ path('ajax_nivel') }}", type: 'POST', dataType: 'json', data: {id: id},
        success: function (data, estado) { 
                        var items = new Array();
                        //$('#form_Materia').empty();
                        items.push('<option value="">Selecciona Materia</option>');
                        if (data.length > 0) {
                            $.each(data,function(i,materia) {
                                items.push('<option value="' + materia.id + '">' + materia.descripcion + "</option>");
                            });
                        }
                        $('#form_Materia').html(items.join(''));
                        $('#prueba').html(estado + items.join('')); 

                    },
        error: function(peticion, textStatus, errorThrown) { $('#prueba').html(testStatus + errorThrown); }
    });
};
</script>
{% endblock %}
