{# AppBundle/Maestros/AltaAlumno.html.twig #}

{% extends 'AppBundle::layout.html.twig' %}

{% block titulo %}{{ titulo }}{% endblock %} 

{% block centro %}{{ centro }}{% endblock %}

{% block usuario %}{{ usuario }}<a href="#">{{ enlaceUsuario }}</a>{% endblock %}

{% block menu %}
    {% include 'AppBundle::menu.html.twig' %}
{% endblock %}

{% block cuerpo %}
{# Cabecera con los datos #}
<form action="{{ path('alta_alum') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" />
</form>
{% endblock %}



