
{# AppBundle/Maestros/Profesor.html.twig #}

{% extends 'AppBundle::layout.html.twig' %}

{% block titulo %}{{ titulo }}{% endblock %} 

{% block centro %}{{ centro }}{% endblock %}

{% block usuario %}{{ usuario }}<a href="#">{{ enlaceUsuario }}</a>{% endblock %}

{% block menu %}
    {% include 'AppBundle::menu.html.twig' %}
{% endblock %}

{% block cuerpo %}
{# Cabecera con los datos #}
<table class="table table-bordered">
    <thead>
    <tr>
        <th><h2>ID</th>
        <th><h2>NOMBRE</th>
        <th><h2>EMAIL</th>
    </tr>
    <tr>
        {% for profesor in profesores %}
            <td><h3>{{profesor.id}}</td>
            <td><h3>{{profesor.nombre}}</td>
            <td><h3>{{profesor.email}}</td>
        {% endfor %}
    </tr>
    </thead>
</table>
{% endblock %}


